
body {
    background-color: #f0f0f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.skills-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill, .project, .course {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.skill:hover, .project:hover, .course:hover {
    transform: translateY(-5px);
}

/* Adjust the sections and text */
#about, #projects, #skills, #education {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .skills-list {
        flex-direction: column;
    }
}
nav ul{
    display: flex;
    gap:200px;
}
nav ul li{
    list-style-type: none;
}
nav .logo{
    color: #f0f0f5;
}
